.view-note {
  border: 1px solid var(--color-gray);
  min-width: 25rem;
  padding: 0.8rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.view-note .note-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-note .note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1rem;
}

.view-note .note-body {
  padding: 0;
}

.view-note .note-heading {
  margin: 0;
}

.view-note .note-icons {
  display: flex;
  gap: 1rem;
}

.view-note .add-note-btn {
  background: var(--secondary-color);
  color: var(--color-black);
  outline: none;
  border: none;
  padding: 0.2rem 0.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.view-note .priority,
.label {
  background-color: var(--secondary-color);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 0.8rem;
}

.view-note .tag-container {
  display: flex;
  gap: 0.6rem;
}

.view-note .note-heading,
.note-text {
  color: var(--secondary-color);
}
